@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao portal de serviços ao associado</h1>
    <p>Aqui é possível agendar consultas, exames e consultar seu histórico de agendamentos.</p>
</div>
